.slidebox {
  clear: both; }
  .slidebox__container {
    padding: 0 28px;
    position: relative; }
  .slidebox img {
    cursor: pointer;
    width: 50%; }
    @media only screen and (min-width: 768px) {
      .slidebox img {
        float: left;
        padding: 10px;
        width: 45%; } }
  .slidebox__sliders {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 4; }
    .slidebox__sliders__container {
      left: 0;
      margin: auto;
      max-width: 510px;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 50%;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .slidebox__sliders__image-container {
      position: relative; }
      @media only screen and (min-width: 768px) {
        .slidebox__sliders__image-container img {
          width: 510px; } }
    .slidebox__sliders__close {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1; }
    .slidebox__sliders__control-left, .slidebox__sliders__control-right {
      bottom: 0;
      cursor: pointer;
      margin: auto;
      position: absolute;
      top: 0;
      z-index: 1; }
    .slidebox__sliders__control-left {
      left: 0; }
    .slidebox__sliders__control-right {
      right: 0; }
  .slidebox__controllers {
    left: 0;
    top: 0; }
    .slidebox__controllers__left, .slidebox__controllers__right {
      bottom: 0;
      height: 28px;
      margin: auto;
      position: absolute;
      top: 0; }
      .slidebox__controllers__left a, .slidebox__controllers__right a {
        display: inline-block;
        height: 28px;
        width: 18px; }
    .slidebox__controllers__left {
      left: 0; }
      .slidebox__controllers__left a {
        background: url("../images/controller-left.png") no-repeat; }
    .slidebox__controllers__right {
      right: 0; }
      .slidebox__controllers__right a {
        background: url("../images/controller-right.png") no-repeat; }
    @media only screen and (min-width: 768px) {
      .slidebox__controllers {
        display: none; } }
  @media only screen and (min-width: 768px) {
    .slidebox--mobile {
      display: none; } }
