<div class="slidebox">
	<img data-popup="images/examples/image-pop-up-placeholder.png" src="images/examples/placeholder-gallery-image-1.png" />
	<img data-popup="images/examples/image-pop-up-placeholder-2.png" src="images/examples/placeholder-gallery-image-2.png" />
	<img data-popup="images/examples/image-pop-up-placeholder.png" src="images/examples/placeholder-gallery-image-1.png" />
	<img data-popup="images/examples/image-pop-up-placeholder-2.png" src="images/examples/placeholder-gallery-image-2.png" />
</div>