<div class="slidebox__container">
	<div class="slidebox {{slideboxmodifier}}">

	</div>
	{{#if slideboxmodifier}}
	<div class="slidebox__controllers">
		<p class="slidebox__controllers__left">
			<a href="#"></a>
		</p>
		<p class="slidebox__controllers__right">
			<a href="#"></a>
		</p>
	</div>
	{{/if}}
</div>