<div class="slidebox__container">
	<div class="slidebox {{slideboxmodifier}}">
		<img data-popup="images/examples/image-pop-up-placeholder.png" src="images/examples/placeholder-gallery-image-1.png" />
		<img data-popup="images/examples/image-pop-up-placeholder-2.png" src="images/examples/placeholder-gallery-image-2.png" />
		<img data-popup="images/examples/image-pop-up-placeholder.png" src="images/examples/placeholder-gallery-image-1.png" />
		<img data-popup="images/examples/image-pop-up-placeholder-2.png" src="images/examples/placeholder-gallery-image-2.png" />
	</div>
	{{#if slideboxmodifier}}
	<div class="slidebox__controllers">
		<p class="slidebox__controllers__left"></p>
		<p class="slidebox__controllers__right"></p>
	</div>
	{{/if}}
</div>