{{>head}}
	{{>menu}}
	<div class="container slider-restaurants-by-month">
		{{>banner bannerclass='top'}}
		<div class="slider-restaurants__wrapper slider-restaurants__wrapper--desktop">
			<img class="slider-restaurants__controllers__up" src="images/controller-up.png" />
			<div class="replace-with-ajax">
				
			</div>
			<img class="slider-restaurants__controllers__down" src="images/controller-down.png" />
		</div>
		<div class="slider-restaurants__wrapper slider-restaurants__wrapper--mobile">
			<img class="slider-restaurants__controllers__up" src="images/controller-up-mobile.png" />
			<div class="replace-with-ajax">
				
			</div>
			<img class="slider-restaurants__controllers__down" src="images/controller-down-mobile.png" />
		</div>
		<div class="clear"></div>
		{{>banner bannerclass='bottom'}}
		{{>slider-restaurants__popup}}
		<div class="popup"></div>
	</div>
	{{>full-modal}}
{{>foot}}