{{>head}}
	{{>menu}}
	<div class="container">
		{{>banner bannerclass='top'}}
		{{>slider-restaurants modifierDesktop='slider-restaurants--desktop'}}
		{{>slider-restaurants modifierMobile='slider-restaurants--mobile'}}
		<div class="clear"></div>
		{{>banner bannerclass='bottom'}}
		<div class="popup"></div>
	</div>
	{{>full-modal}}
{{>foot}}