@import "../global/vars";
.menu{
	background: black;
	bottom: 0;
	color: white;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 9999;
	@include respond-to($tablet-portrait){
		height: 100%;
		top: 0;
		width: $menu-size;
	}
	&__title{
		display: none;
		font-size: 13px;
		margin-bottom: 35px;
		@include respond-to($tablet-portrait){
			display: block;
		}
	}
	&__items{
		list-style: none;
		margin: 0;
		padding: 0;
		@include respond-to($tablet-portrait){
			padding: 0 15px;
		}
	}
	&__item{
		float: left;
		width: 25%;
		@include respond-to($tablet-portrait){
			float: none;
			position: relative;
			margin: 0 0 100px;
			width: 100%;
		}
		.submenu{
			background: white;
			border-radius: 10px;
			bottom: 85px;
			color: black;
			display: none;
			left: 0;
			list-style: none;
			margin: auto;
			padding: 0 15px;
			position: absolute;
			right: 0;
			text-transform: uppercase;
			width: 95%;
			@include respond-to($tablet-portrait){
				bottom: auto;
				left: calc(#{$menu-size} - 20px);
				top: 0;
				width: 440px;
			}
			li{
				border-bottom: 1px solid $gray;
				padding: 10px 0;
				&:last-of-type{
					border-bottom: 0;
				}
			}
		}
		&--hamburger{
			>span{
				background: url('../images/hamburguer-icon.png');
				&.is-active{
					background: url('../images/hamburguer-icon-active.png');
				}
			}
			.submenu{
				max-height: 400px;
				overflow-y: auto;
				@include respond-to($tablet-portrait){
					max-height: 500px;
				}
				>li{
					background: url('../images/arrow-right.png') no-repeat;
					background-position: 97% center;
					cursor: pointer;
					&:hover{
						color: #808080;
					}
					&.logout{
						display: none;
					}
				}
				&-level2{
					>li{
						border-bottom: 0;
						display: none;
						h3.back{
							background: url(../images/arrow-left.png) left center no-repeat;
	    					cursor: pointer;
	    					padding-left: 15px;
	    					margin: 10px 0;
						}
						input,textarea{
							border: 1px solid $gray;
							display: block;
							margin-bottom: 10px;
							padding: 2px;
							width: 100%;
							&[type=submit]{
								background: $main-red;
								border: 0;
								color: white;
								font-size: 12px;
								padding: 5px;
								text-transform: uppercase;
							}
						}
						&.submenu-today, &.submenu-offers{
							h3{
								border-bottom: 1px solid $gray;
								padding-bottom: 10px;
								&.back{
									background-position: left 3px;
								}
							}
							form{
								position: relative;
								input{
									padding-right: 25px;
								}
								a{
									position: absolute;
									right: 10px;
									top: 4px;
									img{
										height: 15px;
									}
								}
							}
							ul{
								list-style: none;
								padding: 0;
								li{			
									
									text-transform: none;
									span{
										background: url(../images/arrow-right.png) left center no-repeat;
										cursor: pointer;
										display: block;
										padding-left: 20px;
										&.is-active{
											background: url(../images/arrow-down.png) left center no-repeat;
										}
									}
								}
							}
							.submenu-today__parent-menu, .submenu-offers__parent-menu{
								ul{
									display: none;
								}
								 > li > ul li{
								 	padding-left: 25px;
								 }
							}
						}
						&.submenu-login{
							label{
								display: block;
								margin-bottom: 5px;
								text-transform: none;
								font-style: italic;
							}
							.submenu-login__create-account{
								color: black;
								display: block;
								font-size: 14px;
								margin-bottom: 10px;
								overflow: hidden;
								text-decoration: none;
								text-transform: none;
								span{
									display: inline-block;
									float: left;
									font-weight: bold;
									font-style: italic;
									width: 50%;
									&:last-of-type{
										text-align: right;
									}
								}
							}
							.submenu-login__facebook{
								background: $fb-color;
								clear: both;
								color: white;
								display: block;
								font-size: 12px;
								padding: 5px;
								text-align: center;
								text-decoration: none;
								text-transform: uppercase;
							}
							.submenu-login__new-account{
								display: none;
								.error{
									color: red;
								}
							}
						}
						&.submenu-about{
							h3{
								border-bottom: 1px solid $gray;
								padding-bottom: 10px;
								&.back{
									background-position: left 3px;
								}
							}
							p{
								font-size: 12px;
								text-transform: none;
							}
						}
						&.submenu-favorites{
							>h3{
								border-bottom: 1px solid $gray;
								padding-bottom: 10px;
								&.back{
									background-position: left 3px;
								}
							}
							ul{
								list-style: none;
								padding: 0;
								li{
									background: url('../images/arrow-right.png') 97% center no-repeat;
									span{
										position: relative;
									    text-transform: none;
									    top: -15px;
									}
									&.active{
										background: none;
										img{
											margin-left: 10px;
										}
									}
								}
							}
							.submenu-favorites__delete{
								margin-right: 10px;
								position: relative;
								top: -10px;
								img{
									height: 20px;
								}
							}
							.submenu-favorites__confirmation{
								display: none;
								width: 80%;
								>a{
									color: white;
									float: left;
									line-height: 28px;
									margin: 0;
									padding: 5px;
									text-decoration: none;
								}
								&__no{
									background: $gray;
								}
								&__yes{
									background: $main-red;
								}
								h3{
									float: left;
									font-size: 15px;
									line-height: 38px;
									margin: 0 0 0 10px;
									text-transform: none;
								}
							}
						}
					}
				}
			}
		}
		&--calendar{
			>span{
				background: url('../images/calendar-icon.png');	
				&.is-active{
					background: url('../images/calendar-icon-active.png');
				}
			}
			.submenu{
				max-height: 400px;
				overflow-y: auto;
				@include respond-to($tablet-portrait){
					top: -100px;
				}
				h4{
					margin-bottom: 0;
				}
				>li{
					background: url('../images/arrow-right.png') no-repeat;
					background-position: 97% center;
					a{
						color: black;
						display: block;
						text-decoration: none;
					}
				}
			}
		}
		&--chat{
			>span{
				background: url('../images/chat-icon.png');	
				&.is-active{
					background: url('../images/chat-icon-active.png');
				}
			}
			.submenu{
				height: 400px;
				overflow: auto;
				@include respond-to($tablet-portrait){
					top: -200px;
				}
			}
		}
		&--contact{
			#map{
				height: 310px;
    			width: 300px;
			}
			>span{
				background: url('../images/contact-icon.png');	
				&.is-active{
					background: url('../images/contact-icon-active.png');
				}
			}
			.submenu{
				@include respond-to($tablet-portrait){
					top: -300px;
				}
				h4{
					border-bottom: 1px solid $gray;
					padding-bottom: 20px;
				}
				iframe{
					margin-bottom: 15px;
				}
			}
		}
		>span{
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			display: block;
			height: 35px;
			text-indent: -9999;
			&.is-active{
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		
	}
}