<nav class="menu">
	<h3 class="menu__title">oyvoy.com</h3>
	<ul class="menu__items">
		<li class="menu__item menu__item--hamburger">
			<span>hamburguer-icon</span>
			{{>menu--hamburguer}}
		</li>
		<li class="menu__item menu__item--calendar">
			<span>calendar-icon</span>
			{{>menu--calendar}}
		</li>
		<li class="menu__item menu__item--chat">
			<span>chat-icon</span>
			{{>menu--chat}}
		</li>
		<li class="menu__item menu__item--contact">
			<span>contact-icon</span>
			{{>menu--contact}}
		</li>
	</ul>
</nav>