<ul class="submenu">
	<li>Que hay para hoy?</li>
	<li>Ofertas de todo</li>
	<li>Mis favoritos</li>
	<li data-submenu="submenu-login">Log in</li>
	<li data-submenu="submenu-about">About us</li>
	<div class="submenu-level2">
		<li class="submenu-login">
			<h3 class="back">Log in</h3>
			<form action="#">
				<label for="email">Correo electrónico</label>
				<input name="email" type="text" placeholder="correoelectronico@ejemplo.com" />
				<label for="password">Contraseña</label>
				<input name="password" type="text" placeholder="Contraseña" />
				<input type="submit" value="Log in" />
			</form>
			<a href="#" class="submenu-login__create-account">
				<span>No eres miembro aún?</span>
				<span>Crear cuenta</span>
			</a>
			<a href="#" class="submenu-login__facebook">Log in utilizando facebook</a>
		</li>
		<li class="submenu-about">
			<h3 class="back">About Us</h3>
			<p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam</p>
			<h3>Contacto</h3>
			<form action="#">
				<input type="text" placeholder="Su nombre" />
				<input type="text" placeholder="Email" />
				<textarea placeholder="Comentarios" cols="30" rows="5"></textarea>
				<input type="submit" value="Enviar" />
			</form>
		</li>
	</div>
</ul>