<ul class="submenu">
	<li data-submenu="submenu-today">Que hay para hoy?</li>
	<li data-submenu="submenu-offers">Ofertas de todo</li>
	<li data-submenu="submenu-favorites">Mis favoritos</li>
	<li data-submenu="submenu-login">Log in</li>
	<li data-submenu="submenu-about">About us</li>
	<div class="submenu-level2">
		<li class="submenu-today">
			<h3 class="back">Que hay para hoy?</h3>
			<form action="">
				<input type="text" placeholder="Buscar" />
				<a href="#"><img src="images/search-icon.png" /></a>
			</form>
			<ul class="submenu-today__parent-menu">
				<li><span>IN VOGA</span></li>
				<li><span>Lo nuevo</span></li>
				<li>
					<span>Eventos</span>
					<ul>
						<li><span>Espectaculos</span></li>
						<li><span>Artisticos</span></li>
						<li><span>Deportivos</span></li>
						<li><span>Nacionales</span></li>
						<li><span>Culturales</span></li>
						<li><span>Gastronomicos</span></li>
						<li><span>Comerciales</span></li>
						<li><span>Religiosos</span></li>
					</ul>
				</li>
				<li>
					<span>Restaurantes</span>
					<ul>
						<li><span>Que hay para hoy</span></li>
						<li><span>Nuevos</span></li>
						<li><span>Recomendacion de exquisitor</span></li>
						<li><span>$</span></li>
						<li><span>$$</span></li>
						<li><span>$$$</span></li>
						<li><span>Oasis cervecero</span></li>
						<li>
							<span>Variedades</span>
							<ul>
								<li><span>Domicilio</span></li>
								<li><span>Carnes</span></li>
								<li><span>Mariscos</span></li>
								<li><span>Italiana</span></li>
								<li><span>Oriental</span></li>
								<li><span>Mexicana</span></li>
								<li><span>Internacional</span></li>
								<li><span>Comida rapida</span></li>
								<li><span>Ensaladas y vegetariana</span></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<span>Vida Nocturna</span>
					<ul>
						<li><span>Que hay para hoy</span></li>
						<li><span>Bares y discos</span></li>
						<li><span>Comida amaneceres</span></li>
						<li><span>Más</span></li>
					</ul>
				</li>
				<li>
					<span>Centros Comerciales</span>
					<ul>
						<li><span>Que hay para hoy</span></li>
					</ul>
				</li>
				<li>
					<span>Cafes, te, postres</span>
					<ul>
						<li><span>Que hay para hoy</span></li>
						<li><span>Todo</span></li>
					</ul>
				</li>
				<li>
					<span>Tours</span>
					<ul>
						<li><span>Que hay para hoy</span></li>
						<li><span>Rutas volcanes</span></li>
						<li><span>Rutas playas</span></li>
						<li><span>Ruta maya</span></li>
						<li><span>Ruta pueblos vivos</span></li>
						<li><span>Otros</span></li>
					</ul>
				</li>
				<li>
					<span>Hoteles</span>
					<ul>
						<li><span>Que hay para hoy</span></li>
						<li><span>Hoteles</span></li>
						<li><span>Auto hotel</span></li>
					</ul>
				</li>
				<li><span>Por temporada</span></li>
				<li>
					<span>Ofertas con tarjeta</span>
					<ul>
						<li><span>Que hay para hoy</span></li>
						<li><span>Ofertas</span></li>
					</ul>
				</li>
				<li>
					<span>Por departamento</span>
					<ul>
						<li><span>La liberta</span></li>
						<li><span>San Salvador</span></li>
						<li><span>Santa Ana</span></li>
						<li><span>Sonsonate</span></li>
						<li><span>San Miguel</span></li>
						<li><span>La Union</span></li>
						<li><span>La Paz</span></li>
						<li><span>Ahuachacan</span></li>
						<li><span>San Vicente</span></li>
						<li><span>Cuscatlan</span></li>
						<li><span>Morazan</span></li>
						<li><span>Chalatenango</span></li>
						<li><span>Cabañas</span></li>
						<li><span>Usulutan</span></li>
					</ul>
				</li>
				<li>
					<span>Cine y TV</span>
					<ul>
						<li><span>Que hay para hoy</span></li>
						<li><span>Cine</span></li>
						<li><span>Tv</span></li>
					</ul>
				</li>
				<li>
					<span>Ofertas de todo</span>
					<ul>
						<li><span>Supermercado</span></li>
						<li><span>Licores</span></li>
						<li><span>Salud y farmacia</span></li>
						<li><span>Ropa y compras</span></li>
						<li><span>Belleza y spas</span></li>
						<li><span>Servicios</span></li>
						<li><span>Automotriz</span></li>
						<li><span>Mascotas</span></li>
						<li><span>Planificacion de eventos</span></li>
						<li><span>Servicios locales</span></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="submenu-offers">
			<h3 class="back">Ofertas de todo</h3>
			<ul class="submenu-offers__parent-menu">
				<li><span>Oferta 1</span></li>
				<li><span>Oferta 2</span></li>
				<li><span>Oferta 3</span></li>
			</ul>
		</li>
		<li class="submenu-favorites">
			<h3 class="back">Mis favoritos</h3>
			<ul>
				<li>
					<a href="#" class="submenu-favorites__delete"><img src="images/trashcan.png" /></a>
					<div class="submenu-favorites__confirmation">
						<a class="submenu-favorites__confirmation__no" href="#">No</a>
						<a class="submenu-favorites__confirmation__yes" href="#">Si</a>
						<h3>Eliminar de favoritos?</h3>
					</div>
					<img src="images/examples/eventos-placeholder-image-3.png">
					<span class="submenu-favorites__event">Cine en el parque</span>
				</li>
				<li>
					<a href="#" class="submenu-favorites__delete"><img src="images/trashcan.png" /></a>
					<div class="submenu-favorites__confirmation">
						<a class="submenu-favorites__confirmation__no" href="#">No</a>
						<a class="submenu-favorites__confirmation__yes" href="#">Si</a>
						<h3>Eliminar de favoritos?</h3>
					</div>
					<img src="images/examples/eventos-placeholder-image-3.png">
					<span class="submenu-favorites__event">Cine en el parque</span>
				</li>
			</ul>
		</li>
		<li class="submenu-login">
			<h3 class="back">Log in</h3>
			<div class="submenu-login__main-container">
				<form action="#">
					<label for="email">Correo electrónico</label>
					<input name="email" type="text" placeholder="correoelectronico@ejemplo.com" />
					<label for="password">Contraseña</label>
					<input name="password" type="password" placeholder="Contraseña" />
					<input type="submit" value="Log in" />
				</form>
				<a href="#" class="submenu-login__create-account">
					<span>No eres miembro aún?</span>
					<span>Crear cuenta</span>
				</a>
				<a href="#" class="submenu-login__facebook">Log in utilizando facebook</a>
			</div>
			<div class="submenu-login__new-account">
				<h3 class="back">Crear cuenta</h3>
				<form action="#">
					<label for="email">Correo electrónico</label>
					<input name="email" type="text" placeholder="correoelectronico@ejemplo.com" />
					<label for="password">Contraseña</label>
					<input name="password" type="password" placeholder="Contraseña" />
					<label for="confirm-password">Confirmar Contraseña</label>
					<input name="confirm-password" type="password" placeholder="Contraseña" />
					<input type="submit" value="Log in" />
				</form>
			</div>
		</li>
		<li class="submenu-about">
			<h3 class="back">About Us</h3>
			<p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam</p>
			<h3>Contacto</h3>
			<form action="#">
				<input type="text" placeholder="Su nombre" />
				<input type="text" placeholder="Email" />
				<textarea placeholder="Comentarios" cols="30" rows="5"></textarea>
				<input type="submit" value="Enviar" />
			</form>
		</li>
	</div>
</ul>