<ul class="submenu">
	<h4>Eventos</h4>
	<div class="submenu__items">
		<a class="is-active" href="#">Dia</a>
		<a href="#">Semana</a>
		<a href="#">Mes</a>
	</div>
	<li class="submenu-day">
		<ul>
			<li>
				<img src="images/examples/eventos-placeholder-image-3.png" />
				<span>Cine en el parque</span>
			</li>
			<li>
				<img src="images/examples/eventos-placeholder-image-3.png" />
				<span>Cine en el parque</span>
			</li>
			<li>
				<img src="images/examples/eventos-placeholder-image-3.png" />
				<span>Cine en el parque</span>
			</li>
			<li>
				<img src="images/examples/eventos-placeholder-image-3.png" />
				<span>Cine en el parque</span>
			</li>
			<li>
				<img src="images/examples/eventos-placeholder-image-3.png" />
				<span>Cine en el parque</span>
			</li>
			<li>
				<img src="images/examples/eventos-placeholder-image-3.png" />
				<span>Cine en el parque</span>
			</li>
		</ul>
	</li>
	<li class="submenu-week">
		<ul>
			<li>
				<img src="images/examples/eventos-placeholder-image-2.png" />
				<span>Recoleccion de viveres</span>
			</li>
			<li>
				<img src="images/examples/eventos-placeholder-image-2.png" />
				<span>Recoleccion de viveres</span>
			</li>
			<li>
				<img src="images/examples/eventos-placeholder-image-2.png" />
				<span>Recoleccion de viveres</span>
			</li>
		</ul>
	</li>
	<li class="submenu-month">
		<ul>
			<li>
				<img src="images/examples/eventos-placeholder-image-1.png" />
				<span>Concierto orquesta</span>
			</li>
			<li>
				<img src="images/examples/eventos-placeholder-image-1.png" />
				<span>Concierto orquesta</span>
			</li>
			<li>
				<img src="images/examples/eventos-placeholder-image-1.png" />
				<span>Concierto orquesta</span>
			</li>
		</ul>
	</li>
</ul>