@import "../global/vars";
.menu{
	background: $main-red;
	color: white;
	height: 100%;
	padding: 10px;
	position: fixed;
	top: 0;
	width: $menu-size;
	z-index: 9999;
	&__title{
		font-size: 13px;
		margin-bottom: 35px;
	}
	&__items{
		list-style: none;
		margin: 0;
		padding: 0 15px;
	}
	&__item{
		margin: 0 0 76px;
		position: relative;
		.submenu{
			background: white;
			border-radius: 10px;
			color: black;
			display: none;
			left: calc(#{$menu-size} - 20px);
			list-style: none;
			padding: 0 15px;
			position: absolute;
			text-transform: uppercase;
			top: 0;	
			width: 330px;
			li{
				border-bottom: 1px solid $gray;
				padding: 10px 0;
				&:last-of-type{
					border-bottom: 0;
				}
			}
		}
		&--hamburger{
			>span{
				background: url('../images/hamburguer-icon.png');
				&.is-active{
					background: url('../images/hamburguer-icon-active.png');
				}
			}
			.submenu{
				li{
					background: url('../images/arrow-right.png') no-repeat;
					background-position: 97% center;
				}
			}
		}
		&--calendar{
			>span{
				background: url('../images/calendar-icon.png');	
				&.is-active{
					background: url('../images/calendar-icon-active.png');
				}
			}
			.submenu{
				max-height: 400px;
				overflow-y: scroll;
				top: -100px;
				h4{
					margin-bottom: 0;
				}
				&__items{
					text-align: right;
					a{
						color: black;
						margin-right: 10px;
						text-decoration: none;
						&.is-active{
							font-weight: bold;
						}
					}
				}
				>li{
					border-bottom: 0;
					ul{
						list-style: none;
						padding: 0;
						li{
							background: url('../images/arrow-right.png') no-repeat;
							background-position: 97% center;
							border-top: 1px solid $gray;
							border-bottom: 0;
							span{
								position: relative;
								text-transform: none;
								top: -15px;
							}
						}	
					}
				}
				>li:nth-of-type(n+2){
					display: none;
				}
			}
		}
		&--chat{
			>span{
				background: url('../images/chat-icon.png');	
				&.is-active{
					background: url('../images/chat-icon-active.png');
				}
			}
			.submenu{
				height: 400px;
				top: -200px;
			}
		}
		&--contact{
			>span{
				background: url('../images/contact-icon.png');	
				&.is-active{
					background: url('../images/contact-icon-active.png');
				}
			}
		}
		>span{
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			display: block;
			height: 35px;
			text-indent: -9999;
			&.is-active{
				background-size: 100% 100%;
			}
		}
		
	}
}