<div class="slider-restaurants__popup">
	<div class="slider-restaurants__popup__header">
		<figure>
			<img src="images/examples/logo-placeholder.png" alt="">
		</figure>
		<div class="slider-restaurants__popup__header__main-image">
			<img src="images/examples/header-image-restaurant-popup-placeholder.png" alt="">
			<h1>Ciudad saporro</h1>
			<div>
				<a class="slider-restaurants__add-to-favorites" href="#"><img src="images/added-to-favorites.png" /></a>
				<a class="slider-restaurants__share" href="#"><img src="images/share-button.png" /></a>
				<a href="#" class="slider-restaurants__popup__close"><img src="images/close-card-button.png" /></a>
			</div>
		</div>
	</div>
	<div class="slider-restaurants__popup__container">
		<div class="slider-restaurants__popup__general-info">
			<p>¿Antojado del sushi? ¡Quitate ese antojo con esta increíble oferta!</p>
			<p>La oferta incluye 30 piezas con los sabores:</p>
			<p>-Tico roll: Aguacate, Surime y Pepino con cobertura de queso crema y plátano maduro con salsa dulce.<br/>
			-Nevado delux: Pepino, Aguacate, Surime y cobertura de queso crema con hojuelas tempura.<br/>
			-Alaska roll: Pepino, Aguacate, Queso crema y Salmón</p>
			<p>¡Complacé a tu paladar! Comprá ya esta súper oferta de Sapporo por sólo ¢5,500.</p>
			<div class="slider-restaurants__popup__general-info__cta">
				<h4 class="">El Restaurante</h4>
				<a class="btn-red" href="#">Comprar ahora</a>
			</div>
			<p>Restaurante Japones, con amplio menú que incluye una gran variedad de platos como sushi, tempura, sopas y teriyaki.</p>
			<p>Contamos con el pescado más fresco del país</p>
			<a class="slider-restaurants__popup__general-info__site" href="#">www.saporro.com</a>
		</div>
		<div class="slider-restaurants__popup__left">
			<div class="slider-restaurants__popup__score">
				<h4>Calificación</h4>
				<img src="images/2half-stars.png" alt="">
			</div>
			<h4>Horario</h4>
			<p>L-D 12md - 10pm</p>
			<p>L-D 12md - 10pm</p>
			<h4 class="no-available">Parqueo</h4>
			<h4 class="available">Zona para niños</h4>
			<div class="slider-restaurants__popup__reviews">
				<h4>Reseñas (20)</h4>
				<a class="create-review" href="#">Escribir una</a>
				<div class="slider-restaurants__popup__review">
					<div>
						<h3>Muy bonito el lugar</h3>
						<img src="images/2half-stars.png" />
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ex purus, auctor ac quam id,pulvinar lacinia nisi. Quisque porttitor, auguein dapibus elementum, tortor mi tincidunt ligula, sed rutrum est dui eget lectus. Morbi eu</p>
					<h3 class="slider-restaurants__popup__review__author">Juan Perez</h3>
				</div>
				<div class="slider-restaurants__popup__review">
					<div>
						<h3>Muy bonito el lugar</h3>
						<img src="images/2half-stars.png" />
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ex purus, auctor ac quam id,pulvinar lacinia nisi. Quisque porttitor, auguein dapibus elementum, tortor mi tincidunt ligula, sed rutrum est dui eget lectus. Morbi eu</p>
					<h3 class="slider-restaurants__popup__review__author">Juan Perez</h3>
				</div>
				<div class="slider-restaurants__popup__review">
					<div>
						<h3>Muy bonito el lugar</h3>
						<img src="images/2half-stars.png" />
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ex purus, auctor ac quam id,pulvinar lacinia nisi. Quisque porttitor, auguein dapibus elementum, tortor mi tincidunt ligula, sed rutrum est dui eget lectus. Morbi eu</p>
					<h3 class="slider-restaurants__popup__review__author">Juan Perez</h3>
				</div>
			</div>
		</div>
		<div class="slider-restaurants__popup__right">
			<h4>Como llegar?</h4>
			<p>De la esquina suroeste de la rotonda de la bandera, 100m este y 100m oeste, primera entrada a mano derecha</p>
			<div class="slider-restaurants__popup__directions">
				<a href="#" class="right-arrow">Google Maps</a>
				<a href="#" class="right-arrow">Waze</a>
			</div>
			{{>slidebox}}
		</div>
	</div>
</div>
<div class="slider-restaurants__popup__new-review">
	<div class="slider-restaurants__popup__new-review__container">
		<h2>Nueva reseña</h2>
		<img class="slider-restaurants__popup__new-review__close" src="images/close-card-gray-button.png" />
		<form action="">
			<input type="text" placeholder="Su nombre">
			<input type="text" placeholder="Titulo">
			<textarea name="" placeholder="Comentarios" cols="30" rows="10"></textarea>
			<div class="slider-restaurants__popup__new-review__qualification">
				<img data-class="slider-restaurants__popup__new-review__qualification--1" src="images/empty-star.png" />
				<img data-class="slider-restaurants__popup__new-review__qualification--2" src="images/empty-star.png" />
				<img data-class="slider-restaurants__popup__new-review__qualification--3" src="images/empty-star.png" />
				<img data-class="slider-restaurants__popup__new-review__qualification--4" src="images/empty-star.png" />
				<img data-class="slider-restaurants__popup__new-review__qualification--5" src="images/empty-star.png" />
			</div>
			<a href="#">Publicar</a>
		</form>
	</div>
</div>