<div class="slider-restaurants">
	<div class="slider-restaurants__container">
	{{>slider-restaurants__restaurant class="small" title="Cuidad saporro" small-image="true"}}
	{{>slider-restaurants__restaurant class="full" title="30 piezas de sushi a 50% de descuento" full-image="true"}}
	{{>slider-restaurants__restaurant class="small" title="Cuidad saporro" small-image="true"}}
	{{>slider-restaurants__restaurant class="full" title="30 piezas de sushi a 50% de descuento" full-image="true"}}
	</div>
	<div class="slider-restaurants__controllers">
		<p class="slider-restaurants__controllers__left"></p>
		<p class="slider-restaurants__controllers__right"></p>
	</div>
	{{>slider-restaurants__popup}}
</div>