<div class="slider-restaurants slider-restaurants--mobile">
	<div class="slider-restaurants__container">
		<div><!--make a div for each 4 elements-->
			{{>slider-restaurants__restaurant src="images/examples/card-lugar-placeholder.png"}}
			{{>slider-restaurants__restaurant src="images/examples/card-promo-placeholder.png"}}
			{{>slider-restaurants__restaurant src="images/examples/card-lugar-placeholder.png"}}
			{{>slider-restaurants__restaurant src="images/examples/card-promo-placeholder.png"}}
		</div>
	</div>
	<div class="slider-restaurants__controllers">
		<p class="slider-restaurants__controllers__left"></p>
		<p class="slider-restaurants__controllers__right"></p>
	</div>
</div>