<div class="slider-restaurants slider-restaurants--desktop">
	<div class="slider-restaurants__container">
	{{>slider-restaurants__restaurant src="images/examples/full-lugar-card-placeholder.png"}}
	{{>slider-restaurants__restaurant src="images/examples/full-promo-card-placeholder.png"}}
	{{>slider-restaurants__restaurant src="images/examples/full-lugar-card-placeholder.png"}}
	{{>slider-restaurants__restaurant src="images/examples/full-promo-card-placeholder.png"}}
	</div>
	<div class="slider-restaurants__controllers">
		<p class="slider-restaurants__controllers__left"></p>
		<p class="slider-restaurants__controllers__right"></p>
	</div>
	{{>slider-restaurants__popup}}
</div>