<div class="slider-restaurants {{modifierDesktop}} {{modifierMobile}}">
	<div class="slider-restaurants__container">
	{{#if modifierDesktop}}
		{{>slider-restaurants__restaurant src="images/examples/full-lugar-card-placeholder.png"}}
		{{>slider-restaurants__restaurant src="images/examples/full-promo-card-placeholder.png"}}
		{{>slider-restaurants__restaurant src="images/examples/full-lugar-card-placeholder.png"}}
		{{>slider-restaurants__restaurant src="images/examples/full-promo-card-placeholder.png"}}
	{{/if}}
	{{#if modifierMobile}}
		{{>slider-restaurants__restaurant src="images/examples/card-lugar-placeholder.png"}}
		{{>slider-restaurants__restaurant src="images/examples/card-promo-placeholder.png"}}
		{{>slider-restaurants__restaurant src="images/examples/card-lugar-placeholder.png"}}
		{{>slider-restaurants__restaurant src="images/examples/card-promo-placeholder.png"}}
	{{/if}}
	</div>
	<div class="slider-restaurants__controllers">
		<p class="slider-restaurants__controllers__left"></p>
		<p class="slider-restaurants__controllers__right"></p>
	</div>
	{{>slider-restaurants__popup}}
</div>