@import "../global/vars";
.slider-restaurants{
	display: none;
	padding: 0 38px;
	position: relative;
	&__wrapper{
		overflow: hidden;
		position: relative;
		@include respond-to($tablet-portrait){
			padding: 30px 0;
		}
	}
	@include respond-to($tablet-portrait){
		display: block;
		margin-bottom: 30px;
		overflow: hidden;
		z-index: 1;
	}
	&--mobile{
		display: block;
		padding-top: 40%;
		@include respond-to($tablet-portrait){
			display: none;
		}
	}
	&__restaurant{
		cursor: pointer;
		float: left;
		margin-right: 8px;
		text-align: center;
		width: calc(50% - 8px);
		@include respond-to($tablet-portrait){
			width: calc(25% - 8px);
		}
		>img{
			display: inline-block;
			@include respond-to($tablet-portrait){
				height: 100%;
			}
		}
		&__logo{
			height: 100px;
			overflow: hidden;
			padding: 10px;
			img{
				height: 100%;
				width: 100%;	
			}
		}
		&__food{
			overflow: hidden;
			position: relative;
			img{
				width: 100%;
			}
			&--full{
				margin-bottom: 10px;
				img{
					width: 150%;
				}
			}
			div{
				background: rgba(0,0,0,0.3);
				color: white;
				height: 100%;
				position: absolute;
				text-align: center;
				text-transform: uppercase;
				top: 0;
				width: 100%;
				h2{
					font-size: 18px;
					margin: 0;
					position: relative;
					top: 50%;
					@include prefix(transform, translateY(-50%));
				}
			}
		}
		&__qualification{
			margin-top: 5px;
			text-align: center;
			img{
				width: 160px;
			}
		}
		p{
			border-bottom: 1px solid $gray;
			font-size: 11px;
			margin: 0 8px;
			padding: 5px 0;
			text-align: center;
		}
		h3{
			font-size: 13px;
			text-align: center;
			text-transform: uppercase;
		}
		a{
			color: white;
			display: block;
			text-decoration: none;
			margin: 0 8px 10px;
			padding: 10px 2px;
			text-align: center;
			@include linearGradient($main-red, #c22629);
		}
	}
	&__popup{
		background: white;
		display: none;
		height: 100%;
		left: 0;
		margin: 5px 15px;
		overflow-y: scroll;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
		@include respond-to($tablet-portrait){
			margin: 0 38px;
		}
		&__options{
			display: none;
			float: right;
			margin: 15px;
			position: relative;
			@include respond-to($tablet-portrait){
				display: block;
			}
			img,.slider-restaurants__add-to-favorites{
				height: 22px;
			}
			.slider-restaurants__add-to-favorites{
				background-image: url('../images/bookmark-off.png');
				background-repeat: no-repeat;
				background-size: 100%;
				display: inline-block;
				position: relative;
				width: 17px;
				&--on{
					background-image: url('../images/bookmark-on.png');
				}
				img{
					display: none;
					height: initial;
					left: 0;
					position: absolute;
					top: 100%;
					z-index: 2;
					@include respond-to($tablet-portrait){
						left: -142px;
					}
				}
			}
			&--mobile{
				display: block;
				float: none;
				margin: 2px 15px;
				.slider-restaurants__popup__close{
					float: right;
				}
				.slider-restaurants__add-to-favorites{
					background-image: url('../images/bookmark-off-gray.png');
					&--on{
						background-image: url('../images/bookmark-on-gray.png');
					}
				}
				@include respond-to($tablet-portrait){
					display: none;
				}
			}
		}
		&__header{
			figure{
				float: left;
				width: 150px;
				img{
					width: 100%;
				}	
			}
			&__main-image{
				float: left;
				height: 91px;
				overflow: hidden;
				position: relative;
				width: calc(100% - 150px);
				>img{
					height: 100%;
					left: 0;
					position: absolute;
					@include respond-to($tablet-portrait){
						height: auto;
						width: 100%;
					}
				}
				h1{
					background: rgba(0,0,0,.5);
					color: white;
					font-size: 18px;
					height: 100%;
					margin: 0;
					padding: 25px;
					position: absolute;
					text-transform: uppercase;
					width: 100%;
					@include respond-to($tablet-portrait){
						font-size: 32px;
					}
				}
			}
		}
		&__container{
			clear: both;
			overflow: hidden;
			padding: 15px;
			h4{
				text-transform: uppercase;
			}
		}
		&__general-info{
			&__site{
				float: right;
			}	
			&__cta{
				overflow: hidden;
				h4{
					@include respond-to($tablet-portrait){
						float: left;
					}
				}
				a{
					@include respond-to($tablet-portrait){
						float: right;
					}
				}
			}
		}
		&__left{
			@include respond-to($tablet-portrait){
				float: left;
				width: 40%;
			}
			.no-available{
				background-image: url('../images/no.png');
			}
			.available{
				background-image: url('../images/yes.png');
			}
			.no-available, .available{
				background-repeat: no-repeat;
				background-position: center right;
				max-width: 250px;
			}
		}
		&__right{
			float: left;
			width: 50%;
			@include respond-to($tablet-portrait){
				padding-left: 15px;
				width: 60%;
			}
			.slidebox{
				display: none;
				@include respond-to($tablet-portrait){
					display: block;
				}
			}
		}
		&__directions{
			a{
				color: black;
				display: block;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
				padding-right: 20px;
				@include respond-to($tablet-portrait){
					float: left;
				}
				&:last-of-type{
					margin-top: 10px;
					@include respond-to($tablet-portrait){
						margin-top: 0;
						margin-left: 60px;
					}
				}
				&.right-arrow:after{
					right: 0;
				}
			}
		}
		&__reviews{
			clear: both;
			float: left;
			padding-right: 10px;
			width: 50%;
			@include respond-to($tablet-portrait){
				float: none;
				padding-right: 0;
				width: 100%;
			}
			h4{
				margin: 0;
				@include respond-to($tablet-portrait){
					float: left;
				}
			}
			&__short-description{
				margin-bottom: 20px;
				text-align: right;
				p{
					text-align: left;
					margin: 5px 0;
				}
				a{
					color: black;
					font-style: italic;
					font-weight: bold;
					text-decoration: none;
				}
				@include respond-to($tablet-portrait){
					display: none;
				}
			}
		}	
		&__review{
			clear: both;
			&--desktop{
				display: none;
				@include respond-to($tablet-portrait){
					display: block;
				}
			}
			>div{
				overflow: hidden;
				padding-top: 15px;
				h3{
					float: left;
					font-size: 14px;
					font-style: italic;
					margin: 0;
				}
				img{
					float: right;
					width: 100px;
				}
			}
			p{
				clear: both;
				font-size: 14px;
			}
			&__author{
				float: right;
				font-size: 14px;
				font-style: italic;
				margin: 0;
			}
		}
		&__popup-red{
			background: rgba(0,0,0,0.3);
			display: none;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 4;
			&__close{
				cursor: pointer;
				float: right;
			}
			&__container{
				background: white;
				border: 5px solid red;
				border-radius: 15px;
				margin: auto;
				margin-top: 15px;
				max-height: 400px;
				overflow: hidden;
				overflow-y: auto;
				padding: 20px;
				width: 95%;
				@include respond-to($tablet-portrait){
					max-height: 450px;
					width: 50%;
				}
				h2{
					display: inline-block;
					font-size: 15px;
					margin: 0;
					text-transform: uppercase;
					@include respond-to($tablet-portrait){
						font-size: 24px;
					}
				}
			}
		}
		&__new-review{
			&__container{
				form{
					margin-top: 20px;
					input, textarea{
						border: 1px solid $gray;
						display: block;
						margin-top: 5px;
						padding: 5px;
						width: 100%;
					}
					textarea{
						margin-bottom: 20px;
					}
					a{
						color: black;
						float: right;
						font-size: 20px;
						font-style: italic;
						font-weight: bold;
						text-decoration: none;
					}
				}
			}
			&__qualification{
				background-image: url('../images/sprite-stars.png');
				background-repeat: no-repeat;
				background-position: left top;
				float: left;
				height: 19px;
				width: 99px;
				img{
					cursor: pointer;
					float: left;
					margin-right: 1px;
					opacity: 0;
					&:last-of-type{
						margin: 0;
					}
				}
				&--1{
					background-position: left -19px;
				}
				&--2{
					background-position: left -38px;
				}
				&--3{
					background-position: left -57px;
				}
				&--4{
					background-position: left -76px;
				}
				&--5{
					background-position: left -95px;
				}
			}
		}
		&__score{
			clear: both;
			float: left;
			width: 50%;
			@include respond-to($tablet-portrait){
				float: none;
				width: 100%;
			}
			h4{
				margin: 5px 0 10px;
				@include respond-to($tablet-portrait){
					margin: 5px 0 15px;
				}
			}
			> *{
				display: inline-block;
			}
			img{
				max-width: 100px;
			}
		}
		&__schedule{
			float: left;
			width: 50%;
			@include respond-to($tablet-portrait){
				float: none;
				width: 100%;
			}
			h4{
				margin: 5px 0 10px;
			}
			p{
				margin: 0;
			}
		}
		&__how-to-get{
			h4{
				margin: 5px 0 0;
			}
			&__short-direction{
				margin-bottom: 20px;
				text-align: right;
				@include respond-to($tablet-portrait){
					display: none;
				}
				p{
					text-align: left;
					margin: 5px 0;
				}
				a{
					color: black;
					font-style: italic;
					font-weight: bold;
					text-decoration: none;
				}
			}
			&__long-direction{
				display: none;
				@include respond-to($tablet-portrait){
					display: block;
				}
			}
		}
		&__facilities{
			clear: both;
			&--desktop{
				display: none;
				@include respond-to($tablet-portrait){
					display: block;
				}
			}
			&--mobile{
				h4{
					margin: 10px 0 0;
					padding-right: 5px;
				}
				@include respond-to($tablet-portrait){
					display: none;
				}
			}
		}
	}
	.create-review{
		color: black;
		font-size: 14px;
		font-style: italic;
		font-weight: bold;
		margin-left: 60px;
		text-decoration: none;
		&--desktop{
			display: none;
			float: right;
			font-size: 16px;
			margin-left: 0;
			@include respond-to($tablet-portrait){
				display: block;
			}
		}
	}
	&__controllers{
		&__up, &__down{
			cursor: pointer;
			left: 0;
			margin: auto;
			position: absolute;
		    right: 0;
		}
		&__up{
			top: 5px;
		}
		&__down{
			bottom: 5px;
		}
		&__left, &__right{
			bottom: 0;
			height: 28px;
			margin: auto;
			position: absolute;
			top: 0;
			a{
				display: inline-block;
				height: 28px;
				width: 18px;
			}
		}
		&__left{
			left: 10px;
			a{
				background: url('../images/controller-left.png') no-repeat;
			}
		}
		&__right{
			right: 10px;
			a{
				background: url('../images/controller-right.png') no-repeat;
			}
		}
	}
}
