.slider-restaurants {
  padding: 0 38px;
  position: relative; }
  .slider-restaurants__restaurant {
    cursor: pointer;
    float: left;
    margin-right: 8px;
    text-align: center;
    width: calc(25% - 8px); }
    .slider-restaurants__restaurant > img {
      min-height: 430px; }
    .slider-restaurants__restaurant__logo {
      height: 100px;
      overflow: hidden;
      padding: 10px; }
      .slider-restaurants__restaurant__logo img {
        height: 100%;
        width: 100%; }
    .slider-restaurants__restaurant__food {
      overflow: hidden;
      position: relative; }
      .slider-restaurants__restaurant__food img {
        width: 100%; }
      .slider-restaurants__restaurant__food--full {
        margin-bottom: 10px; }
        .slider-restaurants__restaurant__food--full img {
          width: 150%; }
      .slider-restaurants__restaurant__food div {
        background: rgba(0, 0, 0, 0.3);
        color: white;
        height: 100%;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        width: 100%; }
        .slider-restaurants__restaurant__food div h2 {
          font-size: 18px;
          margin: 0;
          position: relative;
          top: 50%;
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
    .slider-restaurants__restaurant__qualification {
      margin-top: 5px;
      text-align: center; }
      .slider-restaurants__restaurant__qualification img {
        width: 160px; }
    .slider-restaurants__restaurant p {
      border-bottom: 1px solid #585858;
      font-size: 11px;
      margin: 0 8px;
      padding: 5px 0;
      text-align: center; }
    .slider-restaurants__restaurant h3 {
      font-size: 13px;
      text-align: center;
      text-transform: uppercase; }
    .slider-restaurants__restaurant a {
      color: white;
      display: block;
      text-decoration: none;
      margin: 0 8px 10px;
      padding: 10px 2px;
      text-align: center;
      background: #ff0000;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ff0000 0%, #c22629 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(100%, #c22629));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ff0000 0%, #c22629 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ff0000 0%, #c22629 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ff0000 0%, #c22629 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ff0000 0%, #c22629 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
  .slider-restaurants__popup {
    background: white;
    display: none;
    height: 100%;
    left: 0;
    margin: 0 38px;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3; }
    .slider-restaurants__popup__header figure {
      float: left;
      width: 150px; }
      .slider-restaurants__popup__header figure img {
        width: 100%; }
    .slider-restaurants__popup__header__main-image {
      float: left;
      height: 91px;
      overflow: hidden;
      position: relative;
      width: calc(100% - 150px); }
      .slider-restaurants__popup__header__main-image > img {
        left: 0;
        position: absolute;
        width: 100%; }
      .slider-restaurants__popup__header__main-image h1 {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        height: 100%;
        margin: 0;
        padding: 25px;
        position: absolute;
        text-transform: uppercase;
        width: 100%; }
      .slider-restaurants__popup__header__main-image div {
        float: right;
        margin: 15px;
        position: relative; }
        .slider-restaurants__popup__header__main-image div img {
          height: 22px; }
    .slider-restaurants__popup__container {
      clear: both;
      overflow: hidden;
      padding: 15px; }
      .slider-restaurants__popup__container h4 {
        text-transform: uppercase; }
    .slider-restaurants__popup__general-info__site {
      float: right; }
    .slider-restaurants__popup__left {
      width: 40%; }
      .slider-restaurants__popup__left .no-available {
        background-image: url("../images/no.png"); }
      .slider-restaurants__popup__left .available {
        background-image: url("../images/yes.png"); }
      .slider-restaurants__popup__left .no-available, .slider-restaurants__popup__left .available {
        background-repeat: no-repeat;
        background-position: center right;
        max-width: 250px; }
    .slider-restaurants__popup__right {
      padding-left: 15px;
      width: 50%; }
    .slider-restaurants__popup__left, .slider-restaurants__popup__right {
      float: left; }
    .slider-restaurants__popup__directions h4 {
      float: left;
      padding-right: 20px; }
      .slider-restaurants__popup__directions h4:last-of-type {
        margin-left: 60px; }
    .slider-restaurants__popup__review h4 {
      float: left;
      margin: 0; }
    .slider-restaurants__popup__review a {
      color: #585858;
      font-style: italic;
      float: right;
      text-decoration: none; }
    .slider-restaurants__popup__score > * {
      display: inline-block; }
    .slider-restaurants__popup__score img {
      max-width: 150px; }
