<div class="slider-restaurants__restaurant">
	{{#if small-image}}
	<img src="images/examples/full-lugar-card-placeholder.png" alt="">
	{{/if}}
	{{#if full-image}}
	<img src="images/examples/full-promo-card-placeholder.png" alt="">
	
	{{/if}}
</div>