<div class="slider-restaurants__popup" data-id="" data-fav-id="">
	<div class="slider-restaurants__popup__options slider-restaurants__popup__options--mobile">
		<a class="slider-restaurants__add-to-favorites" href="#">
			<img class="added" src="images/added-to-favorites--mobile.png" />
			<img class="removed" src="images/removed-from-favorites--mobile.png" />
		</a>
		<a class="slider-restaurants__share" href="#"><img src="images/share-button-gray.png" /></a>
		<a href="#" class="slider-restaurants__popup__close"><img src="images/close-card-gray-button.png" /></a>
	</div>
	<div class="slider-restaurants__popup__header">
		<figure>
			<img src="" alt="">
		</figure>
		<div class="slider-restaurants__popup__header__main-image">
			<img src="" alt="">
			<h1></h1>
			<div class="slider-restaurants__popup__options">
				<a class="slider-restaurants__add-to-favorites" href="#">
					<img class="added" src="images/added-to-favorites.png" />
					<img class="removed" src="images/removed-from-favorites.png" />
				</a>
				<a class="slider-restaurants__share" href="#"><img src="images/share-button.png" /></a>
				<a href="#" class="slider-restaurants__popup__close"><img src="images/close-card-button.png" /></a>
			</div>
		</div>
	</div>
	<div class="slider-restaurants__popup__container">
		<div class="slider-restaurants__popup__general-info">
			<div class="slider-restaurants__popup__general-info-description">
				
			</div>
			<a class="slider-restaurants__popup__general-info__site" href="#"></a>
			<br /><br />
			{{>slidebox slideboxmodifier='slidebox--mobile'}}
		</div>
		<div class="slider-restaurants__popup__left">
			<div class="slider-restaurants__popup__score">
				<h4>Calificación</h4>
				<img src="" />
			</div>
			<div class="slider-restaurants__popup__schedule">
				<h4>Horario</h4>
				<p></p>
			</div>
			<div class="slider-restaurants__popup__facilities slider-restaurants__popup__facilities--desktop">
				<h4 class="parking">Parqueo</h4>
				<h4 class="kids">Zona para niños</h4>
			</div>
			<div class="slider-restaurants__popup__reviews">
				<h4>Reseñas <span class="slider-restaurants__popup__reviews__quantity"></span></h4>
				<div class="slider-restaurants__popup__reviews__short-description">
					<p></p>
					<a href="#" class="full-reviews">Ver más</a>
				</div>
				<a class="create-review create-review--desktop" href="#">Escribir una</a>
				<div class="replace-with-ajax">
				
				</div>
				<div class="slider-restaurants__popup__facilities slider-restaurants__popup__facilities--mobile">
					<h4 class="parking">Parqueo</h4>
					<h4 class="kids">Zona para niños</h4>
				</div>
			</div>
		</div>
		<div class="slider-restaurants__popup__right">
			<div class="slider-restaurants__popup__how-to-get">
				<h4>Como llegar?</h4>
				<div class="slider-restaurants__popup__how-to-get__short-direction">
					<p></p>
					<a href="#" class="full-direction">Ver más</a>
				</div>
				<div class="slider-restaurants__popup__how-to-get__long-direction">
					<p></p>
				</div>
			</div>
			<div class="slider-restaurants__popup__directions">
				<a href="#" target="_blank" class="right-arrow google">Google Maps</a>
				<a href="#" target="_blank" class="right-arrow waze">Waze</a>
			</div>
			{{>slidebox}}
		</div>
	</div>
</div>
<div class="slider-restaurants__popup__popup-red slider-restaurants__popup__reviews--mobile">
	<div class="slider-restaurants__popup__popup-red__container">
		<h2>Reseñas <span class="slider-restaurants__popup__reviews__quantity"></span></h2>
		<a class="create-review" href="#">Escribir una</a>
		<img class="slider-restaurants__popup__popup-red__close" src="images/close-card-gray-button.png" />
		<div class="replace-with-ajax">
				
		</div>
	</div>
</div>
<div class="slider-restaurants__popup__popup-red slider-restaurants__popup__full-direction">
	<div class="slider-restaurants__popup__popup-red__container">
		<h2>Como llegar?</h2>
		<img class="slider-restaurants__popup__popup-red__close" src="images/close-card-gray-button.png" />
		<p></p>
	</div>
</div>
<div class="slider-restaurants__popup__popup-red slider-restaurants__popup__new-review">
	<div class="slider-restaurants__popup__popup-red__container slider-restaurants__popup__new-review__container">
		<h2>Nueva reseña</h2>
		<img class="slider-restaurants__popup__popup-red__close" src="images/close-card-gray-button.png" />
		<form action="">
			<input type="text" placeholder="Su nombre">
			<input type="text" placeholder="Titulo">
			<textarea name="" placeholder="Comentarios" cols="30" rows="10"></textarea>
			<div class="slider-restaurants__popup__new-review__qualification">
				<img data-class="slider-restaurants__popup__new-review__qualification--1" src="images/empty-star.png" />
				<img data-class="slider-restaurants__popup__new-review__qualification--2" src="images/empty-star.png" />
				<img data-class="slider-restaurants__popup__new-review__qualification--3" src="images/empty-star.png" />
				<img data-class="slider-restaurants__popup__new-review__qualification--4" src="images/empty-star.png" />
				<img data-class="slider-restaurants__popup__new-review__qualification--5" src="images/empty-star.png" />
			</div>
			<a href="#">Publicar</a>
		</form>
	</div>
</div>
