<div class="slider-restaurants">
	{{>slider-restaurants__restaurant class="small" title="Cuidad saporro" small-image="true"}}
	{{>slider-restaurants__restaurant class="full" title="30 piezas de sushi a 50% de descuento" full-image="true"}}
	{{>slider-restaurants__restaurant class="small" title="Cuidad saporro" small-image="true"}}
	{{>slider-restaurants__restaurant class="full" title="30 piezas de sushi a 50% de descuento" full-image="true"}}
</div>