<div class="slider-restaurants__restaurant">
	<figure class="slider-restaurants__restaurant__logo" >
		<img src="images/restaurants/logo-restaurant.png" />
	</figure>	
	<figure class="slider-restaurants__restaurant__food">
		<img src="images/restaurants/food-small-example.png" alt="">
		<div>
			<h2>Cuidad saporro</h2>
		</div>
	</figure>
	<p>Restaurante japonés, con amplio menú que incluye una gran variedad de platos como sushi, tempura, sopas y teriyaki.</p>
	<img src="" class="slider-restaurants__restaurant__calification" />
	<h3>Abierto ahora</h3>
	<a href="#">Ver restaurant</a>
</div>