.slider-restaurants {
  padding: 0 38px;
  position: relative; }
  .slider-restaurants__restaurant {
    cursor: pointer;
    float: left;
    margin-right: 8px;
    text-align: center;
    width: calc(50% - 8px); }
    @media only screen and (min-width: 768px) {
      .slider-restaurants__restaurant {
        width: calc(25% - 8px); } }
    .slider-restaurants__restaurant > img {
      display: inline-block;
      min-height: 430px; }
    .slider-restaurants__restaurant__logo {
      height: 100px;
      overflow: hidden;
      padding: 10px; }
      .slider-restaurants__restaurant__logo img {
        height: 100%;
        width: 100%; }
    .slider-restaurants__restaurant__food {
      overflow: hidden;
      position: relative; }
      .slider-restaurants__restaurant__food img {
        width: 100%; }
      .slider-restaurants__restaurant__food--full {
        margin-bottom: 10px; }
        .slider-restaurants__restaurant__food--full img {
          width: 150%; }
      .slider-restaurants__restaurant__food div {
        background: rgba(0, 0, 0, 0.3);
        color: white;
        height: 100%;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        width: 100%; }
        .slider-restaurants__restaurant__food div h2 {
          font-size: 18px;
          margin: 0;
          position: relative;
          top: 50%;
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
    .slider-restaurants__restaurant__qualification {
      margin-top: 5px;
      text-align: center; }
      .slider-restaurants__restaurant__qualification img {
        width: 160px; }
    .slider-restaurants__restaurant p {
      border-bottom: 1px solid #585858;
      font-size: 11px;
      margin: 0 8px;
      padding: 5px 0;
      text-align: center; }
    .slider-restaurants__restaurant h3 {
      font-size: 13px;
      text-align: center;
      text-transform: uppercase; }
    .slider-restaurants__restaurant a {
      color: white;
      display: block;
      text-decoration: none;
      margin: 0 8px 10px;
      padding: 10px 2px;
      text-align: center;
      background: #ff0000;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ff0000 0%, #c22629 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(100%, #c22629));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ff0000 0%, #c22629 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ff0000 0%, #c22629 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ff0000 0%, #c22629 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ff0000 0%, #c22629 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
  .slider-restaurants__popup {
    background: white;
    display: none;
    height: 100%;
    left: 0;
    margin: 5px 15px;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3; }
    @media only screen and (min-width: 768px) {
      .slider-restaurants__popup {
        margin: 0 38px; } }
    .slider-restaurants__popup__options {
      display: none;
      float: right;
      margin: 15px;
      position: relative; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__options {
          display: block; } }
      .slider-restaurants__popup__options img, .slider-restaurants__popup__options .slider-restaurants__add-to-favorites {
        height: 22px; }
      .slider-restaurants__popup__options .slider-restaurants__add-to-favorites {
        background-image: url("../images/bookmark-off.png");
        background-repeat: no-repeat;
        background-size: 100%;
        display: inline-block;
        position: relative;
        width: 17px; }
        .slider-restaurants__popup__options .slider-restaurants__add-to-favorites--on {
          background-image: url("../images/bookmark-on.png"); }
        .slider-restaurants__popup__options .slider-restaurants__add-to-favorites img {
          display: none;
          height: initial;
          left: 0;
          position: absolute;
          top: 100%;
          z-index: 2; }
          @media only screen and (min-width: 768px) {
            .slider-restaurants__popup__options .slider-restaurants__add-to-favorites img {
              left: -142px; } }
      .slider-restaurants__popup__options--mobile {
        display: block;
        float: none;
        margin: 2px 15px; }
        .slider-restaurants__popup__options--mobile .slider-restaurants__popup__close {
          float: right; }
        .slider-restaurants__popup__options--mobile .slider-restaurants__add-to-favorites {
          background-image: url("../images/bookmark-off-gray.png"); }
          .slider-restaurants__popup__options--mobile .slider-restaurants__add-to-favorites--on {
            background-image: url("../images/bookmark-on-gray.png"); }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__options--mobile {
            display: none; } }
    .slider-restaurants__popup__header figure {
      float: left;
      width: 150px; }
      .slider-restaurants__popup__header figure img {
        width: 100%; }
    .slider-restaurants__popup__header__main-image {
      float: left;
      height: 91px;
      overflow: hidden;
      position: relative;
      width: calc(100% - 150px); }
      .slider-restaurants__popup__header__main-image > img {
        height: 100%;
        left: 0;
        position: absolute; }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__header__main-image > img {
            height: auto;
            width: 100%; } }
      .slider-restaurants__popup__header__main-image h1 {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 18px;
        height: 100%;
        margin: 0;
        padding: 25px;
        position: absolute;
        text-transform: uppercase;
        width: 100%; }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__header__main-image h1 {
            font-size: 32px; } }
    .slider-restaurants__popup__container {
      clear: both;
      overflow: hidden;
      padding: 15px; }
      .slider-restaurants__popup__container h4 {
        text-transform: uppercase; }
    .slider-restaurants__popup__general-info__site {
      float: right; }
    .slider-restaurants__popup__general-info__cta {
      overflow: hidden; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__general-info__cta h4 {
          float: left; } }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__general-info__cta a {
          float: right; } }
    @media only screen and (min-width: 768px) {
      .slider-restaurants__popup__left {
        float: left;
        width: 40%; } }
    .slider-restaurants__popup__left .no-available {
      background-image: url("../images/no.png"); }
    .slider-restaurants__popup__left .available {
      background-image: url("../images/yes.png"); }
    .slider-restaurants__popup__left .no-available, .slider-restaurants__popup__left .available {
      background-repeat: no-repeat;
      background-position: center right;
      max-width: 250px; }
    .slider-restaurants__popup__right {
      float: left;
      width: 50%; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__right {
          padding-left: 15px;
          width: 60%; } }
      .slider-restaurants__popup__right .slidebox {
        display: none; }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__right .slidebox {
            display: block; } }
    .slider-restaurants__popup__directions a {
      color: black;
      display: block;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      padding-right: 20px; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__directions a {
          float: left; } }
      .slider-restaurants__popup__directions a:last-of-type {
        margin-top: 10px; }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__directions a:last-of-type {
            margin-top: 0;
            margin-left: 60px; } }
      .slider-restaurants__popup__directions a.right-arrow:after {
        right: 0; }
    .slider-restaurants__popup__reviews {
      clear: both;
      float: left;
      padding-right: 10px;
      width: 50%; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__reviews {
          float: none;
          padding-right: 0;
          width: 100%; } }
      .slider-restaurants__popup__reviews h4 {
        margin: 0; }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__reviews h4 {
            float: left; } }
      .slider-restaurants__popup__reviews__short-description {
        margin-bottom: 20px;
        text-align: right; }
        .slider-restaurants__popup__reviews__short-description p {
          text-align: left;
          margin: 5px 0; }
        .slider-restaurants__popup__reviews__short-description a {
          color: black;
          font-style: italic;
          font-weight: bold;
          text-decoration: none; }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__reviews__short-description {
            display: none; } }
    .slider-restaurants__popup__review {
      clear: both; }
      .slider-restaurants__popup__review--desktop {
        display: none; }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__review--desktop {
            display: block; } }
      .slider-restaurants__popup__review > div {
        overflow: hidden;
        padding-top: 15px; }
        .slider-restaurants__popup__review > div h3 {
          float: left;
          font-size: 14px;
          font-style: italic;
          margin: 0; }
        .slider-restaurants__popup__review > div img {
          float: right;
          width: 100px; }
      .slider-restaurants__popup__review p {
        clear: both;
        font-size: 14px; }
      .slider-restaurants__popup__review__author {
        float: right;
        font-size: 14px;
        font-style: italic;
        margin: 0; }
    .slider-restaurants__popup__popup-red {
      background: rgba(0, 0, 0, 0.3);
      display: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 4; }
      .slider-restaurants__popup__popup-red__close {
        cursor: pointer;
        float: right; }
      .slider-restaurants__popup__popup-red__container {
        background: white;
        border: 5px solid red;
        border-radius: 15px;
        margin: auto;
        margin-top: 15px;
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
        padding: 20px;
        width: 95%; }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__popup-red__container {
            max-height: 450px;
            width: 50%; } }
        .slider-restaurants__popup__popup-red__container h2 {
          display: inline-block;
          font-size: 15px;
          margin: 0;
          text-transform: uppercase; }
          @media only screen and (min-width: 768px) {
            .slider-restaurants__popup__popup-red__container h2 {
              font-size: 24px; } }
    .slider-restaurants__popup__new-review__container form {
      margin-top: 20px; }
      .slider-restaurants__popup__new-review__container form input, .slider-restaurants__popup__new-review__container form textarea {
        border: 1px solid #585858;
        display: block;
        margin-top: 5px;
        padding: 5px;
        width: 100%; }
      .slider-restaurants__popup__new-review__container form textarea {
        margin-bottom: 20px; }
      .slider-restaurants__popup__new-review__container form a {
        color: black;
        float: right;
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
        text-decoration: none; }
    .slider-restaurants__popup__new-review__qualification {
      background-image: url("../images/sprite-stars.png");
      background-repeat: no-repeat;
      background-position: left top;
      float: left;
      height: 19px;
      width: 99px; }
      .slider-restaurants__popup__new-review__qualification img {
        cursor: pointer;
        float: left;
        margin-right: 1px;
        opacity: 0; }
        .slider-restaurants__popup__new-review__qualification img:last-of-type {
          margin: 0; }
      .slider-restaurants__popup__new-review__qualification--1 {
        background-position: left -19px; }
      .slider-restaurants__popup__new-review__qualification--2 {
        background-position: left -38px; }
      .slider-restaurants__popup__new-review__qualification--3 {
        background-position: left -57px; }
      .slider-restaurants__popup__new-review__qualification--4 {
        background-position: left -76px; }
      .slider-restaurants__popup__new-review__qualification--5 {
        background-position: left -95px; }
    .slider-restaurants__popup__score {
      clear: both;
      float: left;
      width: 50%; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__score {
          float: none;
          width: 100%; } }
      .slider-restaurants__popup__score h4 {
        margin: 5px 0 10px; }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__score h4 {
            margin: 5px 0 15px; } }
      .slider-restaurants__popup__score > * {
        display: inline-block; }
      .slider-restaurants__popup__score img {
        max-width: 100px; }
    .slider-restaurants__popup__schedule {
      float: left;
      width: 50%; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__schedule {
          float: none;
          width: 100%; } }
      .slider-restaurants__popup__schedule h4 {
        margin: 5px 0 10px; }
      .slider-restaurants__popup__schedule p {
        margin: 0; }
    .slider-restaurants__popup__how-to-get h4 {
      margin: 5px 0 0; }
    .slider-restaurants__popup__how-to-get__short-direction {
      margin-bottom: 20px;
      text-align: right; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__how-to-get__short-direction {
          display: none; } }
      .slider-restaurants__popup__how-to-get__short-direction p {
        text-align: left;
        margin: 5px 0; }
      .slider-restaurants__popup__how-to-get__short-direction a {
        color: black;
        font-style: italic;
        font-weight: bold;
        text-decoration: none; }
    .slider-restaurants__popup__how-to-get__long-direction {
      display: none; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__how-to-get__long-direction {
          display: block; } }
    .slider-restaurants__popup__facilities {
      clear: both; }
      .slider-restaurants__popup__facilities--desktop {
        display: none; }
        @media only screen and (min-width: 768px) {
          .slider-restaurants__popup__facilities--desktop {
            display: block; } }
      .slider-restaurants__popup__facilities--mobile h4 {
        margin: 10px 0 0;
        padding-right: 5px; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants__popup__facilities--mobile {
          display: none; } }
  .slider-restaurants .create-review {
    color: black;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin-left: 60px;
    text-decoration: none; }
    .slider-restaurants .create-review--desktop {
      display: none;
      float: right;
      font-size: 16px;
      margin-left: 0; }
      @media only screen and (min-width: 768px) {
        .slider-restaurants .create-review--desktop {
          display: block; } }
  .slider-restaurants__controllers__left, .slider-restaurants__controllers__right {
    bottom: 0;
    height: 28px;
    margin: auto;
    position: absolute;
    top: 0; }
    .slider-restaurants__controllers__left a, .slider-restaurants__controllers__right a {
      display: inline-block;
      height: 28px;
      width: 18px; }
  .slider-restaurants__controllers__left {
    left: 10px; }
    .slider-restaurants__controllers__left a {
      background: url("../images/controller-left.png") no-repeat; }
  .slider-restaurants__controllers__right {
    right: 10px; }
    .slider-restaurants__controllers__right a {
      background: url("../images/controller-right.png") no-repeat; }
