* {
  box-sizing: border-box; }

figure {
  margin: 0; }

.container {
  height: 100%;
  padding-bottom: 55px;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .container {
      height: 100%;
      margin-left: 89px;
      padding-bottom: 0; } }

.clear {
  clear: both; }

.popup {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%; }

.right-arrow {
  position: relative; }
  .right-arrow:after {
    content: '';
    border-bottom: 10px solid transparent;
    border-left: 10px solid #585858;
    border-top: 10px solid transparent;
    margin-left: 20px;
    position: absolute; }

.btn-red {
  color: white;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  background: #ff0000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff0000 0%, #c22629 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(100%, #c22629));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff0000 0%, #c22629 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff0000 0%, #c22629 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff0000 0%, #c22629 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff0000 0%, #c22629 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }
