@import "../global/vars";
.banner{
	@include respond-to($tablet-portrait){
		height: 100px; 
	}
	img{
		max-height: 100px;
		width: 100%;
	}
	&.bottom{
		bottom: 0;
		position: fixed;
		width: 100%;
		@include respond-to($tablet-portrait){
		}
	}
}
//overwrite plugin styles
.bx-wrapper .bx-viewport{
	border: 0;
	left: 0px;
	@include prefix(box-shadow, none);
}