.banner {
  overflow: hidden; }
  .banner img {
    max-height: 100px;
    width: 100%; }
  .banner.bottom {
    bottom: 0;
    position: absolute;
    width: 100%; }

.bx-wrapper .bx-viewport {
  border: 0;
  left: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
