<div class="banner bxslider {{bannerclass}}">
	<img src="images/banner.png" />
	<img src="images/banner.png" />
	<img src="images/banner.png" />
	<img src="images/banner.png" />
	<img src="images/banner.png" />
	<img src="images/banner.png" />
</div>