@import "../global/vars";
.full-modal{
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	@include respond-to($tablet-portrait){
		z-index: 9999;
	}
	>img{
		height: 100%;
		width: 100%;
	}
	&__close{
		position: absolute;
		right: 20px;
		top: 20px;
	}
}